.body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 100%;
  overflow-y: scroll;
  background: #e4e4dd;
  /* border: 1px solid red; */
}
.contain {
  position: relative;
  width: 100%;
  margin-bottom: 250px;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}
.movies_list {
  position: absolute;
  display: grid;
  grid-template-rows: repeat(10, 550px);
  grid-template-columns: repeat(2, 600px);
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  grid-auto-rows: 100px;
  top: 0;
  /* background: #e4e4dd; */
  /* border: 1px solid red; */
}
.page {
  position: absolute;
  bottom: 0;
}
.genre {
  position: absolute;
  top: -150px;
  width: 1250px;
  text-align: center;
  z-index: 1;
  font-size: 50px;
  color: #d98d8d;
}

/* page */
.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 50px;
  width: 1200px;
  gap: 30px;
  font-size: 20px;
}
.num {
  font-size: 25px;
}
.num:hover {
  border-bottom: 5px solid #d98d8d;
  color: #d98d8d;
}
a {
  color: black;
}
a:hover {
  color: #d98d8d;
}
.focusing {
  color: #d98d8d;
  border-bottom: 5px solid #d98d8d;
  font-size: 30px;
}
